.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(0, 1fr);
  gap: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 1280px;
  min-width: 40vw;
  height: 35vh;
}