.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100vw;
  min-width: 40vw;
  height: 35vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-coffee {
  position: relative;
  top: -18vh;
  width: 84vw;
  max-width: 68.5rem;
  height: auto;
  background-color: #1B1D1F;
  border-radius: .5rem;
  padding-bottom: 5rem;
  z-index: 1
}

.container-coffee-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 5.625rem;
}

.container-coffee-header img {
  position: absolute;
  top: 2rem;
  z-index: -1;
  right: 18rem;
}

.container-coffee-header h1 {
  padding: 0px;
  margin: 0px;
}

.container-coffee-header p {
  max-width: 30rem;
  text-align: center;
  color: #6F757C;
  margin: .5rem;
}


.coffee-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

/* .coffee-card {
  width: 16rem;
  height: 10rem;
} */

.coffee-card-image {
  width: 16rem;
  height: 10rem;
  border-radius: .5rem;
}