.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100vw;
  min-width: 40vw;
  height: 30vh;
  object-fit: fill;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-coffee {
  position: relative;
  top: -14vh;
  width: 84vw;
  max-width: 68.5rem;
  height: auto;
  background-color: #1B1D1F;
  border-radius: .5rem;
  padding: 0rem 2rem 5rem 2rem;
  z-index: 1;
}

.container-coffee-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 5.625rem;
}

.container-coffee-header img {
  position: absolute;
  top: 2rem;
  z-index: -1;
  margin-left: 15rem;
}

.container-coffee-header h1 {
  padding: 0px;
  margin: 0px;
}

.container-coffee-header p {
  max-width: 30rem;
  text-align: center;
  color: #6F757C;
  margin: .5rem;
  font-weight: 500;
}

.coffee-filter-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  background-color: #1B1D1F;
  margin-top: 1rem;
}

.coffee-filter-button {
  background-color: #1B1D1F;
  color: #FEF7EE;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: .5rem;
  border-radius: .3rem;
}

.coffee-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.coffee-card-image {
  width: 16rem;
  height: 10rem;
  border-radius: .5rem;
  transition: transform 0.3s ease;
}

.coffee-card-image:hover {
  transform: scale(1.05);
}

.card-name-price {
  display: inline-flex;
  justify-content: space-between;
  font-weight: 600;
}

.card-name-price p:last-child {
  font-size: small;
  font-weight: 600;
  background-color: #BEE3CC;
  padding: .3rem .5rem;
  color: #111315;
  border-radius: .2rem;
}

.card-rate-votes {
  display: inline-flex;
  gap: .3rem;
  margin-top: -1.1rem;
}

.card-votes-text {
  color: #6F757C;
  font-weight: 600;
}

.popular-coffee {
  position: absolute;
  background-color: #F6C768;
  padding: .2rem .5rem;
  border-radius: .8rem;
  margin-left: .5rem;
  margin-top: 0.6rem;
  color: #111315;
  font-size: small;
  font-weight: 600;
}

.sold-out-coffe {
  margin-left: 2.5rem;
  font-weight: bolder;
  color: #ED735D;
}

.isButtonActive {
  background-color: #6F757C;
}

@media (max-width: 640px) {
  .header-image {
    width: 100vw;
    min-width: 100vw;
    height: 17rem;
    object-fit: fill;
  }

  .container-coffee {
    max-width: 20rem;
    top: -22vh;
  }

  .container-coffee-header img {
    margin-left: 16rem;
    width: 16rem;
    clip-path: inset(0% 24.5% 0% 0%)
  }

  .container-coffee-header p {
    min-width: 20rem;
    text-align: center;
    color: #6F757C;
    margin: .5rem;
    font-weight: 500;
  }

  .coffee-filter-container {
    margin-bottom: 2.5rem;
  }

}

@media (max-width: 1024px) {
  .header-image {
    width: 100vw;
    min-width: 100vw;
    height: 17rem;
    object-fit: fill;
  }

  .container-coffee {
    max-width: 44.4rem;
    padding: 0rem 0.2rem 5rem 0.2rem;
    top: -22vh;
  }

  .container-coffee-header p {
    min-width: 20rem;
    text-align: center;
    color: #6F757C;
    margin: .5rem;
    font-weight: 500;
  }

  .coffee-filter-container {
    margin-bottom: 2.5rem;
  }
}